
@{
    ViewBag.Title = "Hakkımızda | ÖzFurniture";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımızda</h2>
<p style="text-align:center; font-size:24px; font-style:italic;">
    <strong>
        2005 yılından bu yana başarının adı ÖzFurniture, <br />
        ÖzFurniture, mobilya çözümleri sunmayı ilke edinmiş Türkiye'nin lider mobilya üreticisidir.
    </strong>
</p>
