
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>OzFurniture</h3>
<br />
<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>Kategori Adı</td>
        <td>Sırası</td>
        <td>Gorsel</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.KategoriId</td>
            <td>@item.KategoriAdi</td>
            <td>@item.KategoriDurumu</td>
            <td>@item.Gorsel</td>
        </tr>
    }
</table>