
@{
    Layout = null;
}

<!doctype html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link rel="stylesheet" href="~/more-master/css/animate.css">
    <link rel="stylesheet" href="~/more-master/css/main.css">

    <title>ÖzFurniture Anasayfa</title>
</head>
<body>
    <header class="header bg">
        <div class="container text-white">
            <div class="row">
                <div class="col-sm-4 align-self-center text-left">
                    <h6>Estd 2005</h6>
                </div>
                <div class="col-sm-4 col-12 align-self-center box-1 text-center">
                    <a class="navbar-brand" href="~/"><img src="~/more-master/images/header-logo.png" alt="logo"></a>
                </div>
                <div class="col-sm-4 align-self-center text-right">
                    <div class="social-icons">
                        <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.pinterest.com" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <span class="position-absolute trigger"><!-- hidden trigger to apply 'stuck' styles --></span>
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link active" href="~/Home/">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#hakkimizda">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#galeri">Galeri</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#iletisim">İletişim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Login/Index/" class="nav-link" style="border: solid; border-color: #b4dc2d;">Giriş Yap</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--container end-->
    </nav>
    <!--Section-1-->
    <section class="section-1">
        <div class="jumbotron d-flex align-items-center">
            <div class="gradient"></div>
            <div class="container-fluid content">
                <h1 data-aos="fade-up" data-aos-delay="100">Welcome to ÖZFURNİTURE</h1>
                <h2 data-aos="fade-up" data-aos-delay="300">Mobilyalarımızı incelemek için sayfamızı ziyaret ediniz.</h2>
                <h4 data-aos="fade-up" data-aos-delay="500">New Collection 2022</h4>
                <p data-aos="fade-up" data-aos-delay="700"><a href="#newcollection" class="btn btn-success">Tıklayın</a></p>
            </div>
            <!--container-fluid end-->
        </div>
    </section>
    <!--Section-2-->
    <section class="section-2">
        <div class="container" id="hakkimizda">
            <div class="row">
                <div class="col-lg-4 col-sm-12 col-12 box-1">
                    <div class="row box" data-aos="fade-left" data-aos-delay="300">
                        <div class="col-lg-2 col-sm-12">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <h3><a href="services.html">Tutku.</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and</p>
                            <p><a href="#"><img src="~/more-master/images/plus.png" alt="plus"></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-12 box-2">
                    <div class="row box" data-aos="fade-left" data-aos-delay="500">
                        <div class="col-lg-2 col-sm-12">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <h3><a href="services.html">Sitil.</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and</p>
                            <p><a href="#"><img src="~/more-master/images/plus.png" alt="plus"></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-12 box-3">
                    <div class="row box" data-aos="fade-left" data-aos-delay="700">
                        <div class="col-lg-2 col-sm-12">
                            <i class="fa fa-comments-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <h3><a href="services.html">Tasarım.</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and</p>
                            <p><a href="#"><img src="~/more-master/images/plus.png" alt="plus"></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-3">
        <div class="container" id="newcollection">
            <div class="row m-0">
                <div class="col-lg-5 col-md-12 p-0" data-aos="fade-right" data-aos-delay="300">
                    <h2>Bizi Neden<span>  Seçmelisiniz?</span></h2>
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Ofis Mobilyaları</a> </li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Mutfak Banyo Mobilyaları</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Kapı Pencereler</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Masa Sandalyeler</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Oturma Grupları</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Yatak Odası Mobilyaları</a></li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-12 p-0" data-aos="fade-left" data-aos-delay="300">
                    <figure>
                        <img class="inner-img" src="~/more-master/images/services-bg2.jpg" alt="services">
                        <img class="out-sideimg" src="~/more-master/images/services-bg.jpg" alt="services">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="section-4">
        <div class="container" id="blog">
            <div class="row heading">
                <div class="col-sm-6 col-12">
                    <h3>Bloğumuzda neler <span>yazıldığını okumalısınız</span></h3>
                </div>
                <div class="col-sm-6 col-12">
                    <a href="#" class="btn btn-success">Blog</a>
                </div>
            </div>
            <!--/row-->
            <div class="row">
                <div class="col-lg-4 col-sm-12 col-12 box-1" data-aos="fade-right" data-aos-delay="300">
                    <figure class="figure">
                        <a href="~/more-master/images/blog-1.jpg"><img src="~/more-master/images/blog-1.jpg" class="figure-img img-fluid" alt="blog"></a>
                        <figcaption class="figure-caption">
                            <h2><a href="#">Beautiful girl holding her camera in neck for a photo shoot</a></h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five</p>
                            <a href="#" class="btn btn-success">+ more</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-8 col-sm-12 col-12" data-aos="fade-left" data-aos-delay="300">
                    <div class="row">
                        <div class="col-sm-6 col-12 box-2">
                            <figure class="figure">
                                <a href="~/more-master/images/blog-2.jpg"><img src="~/more-master/images/blog-2.jpg" class="figure-img img-fluid" alt="blog"></a>
                            </figure>
                        </div>
                        <div class="col-sm-6 col-12 box-3">
                            <h4><a href="#">Girl working seriously on laptop in office hours</a></h4>
                            <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. specimen book. It has survived not only five</h5>
                            <a href="#" class="btn btn-success">+ more</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-12 box-4">
                            <figure class="figure">
                                <a href="~/more-master/images/blog-3.jpg"><img src="~/more-master/images/blog-3.jpg" class="figure-img img-fluid" alt="blog"></a>
                            </figure>
                        </div>
                        <div class="col-sm-6 col-12 box-5">
                            <h4><a href="#">Girl working seriously on laptop in office hours </a></h4>
                            <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. specimen book. It has survived not only five</h5>
                            <a href="#" class="btn btn-success">+ more</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-12 box-6">
                            <figure class="figure">
                                <a href="~/more-master/images/blog-1.jpg"><img src="~/more-master/images/blog-1.jpg" class="figure-img img-fluid" alt="blog"></a>
                            </figure>
                        </div>
                        <div class="co -sm-6 col-12 box-7">
                            <h4><a href="#">Girl working seriously on laptop in office hours </a></h4>
                            <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. specimen book. It has survived not only five</h5>
                            <a href="#" class="btn btn-success">+ more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--container-->
    </section>
    <!--Section-5-->
    <section class="section-5">
        <div class="container" id="galeri">
            <div class="row">
                <div class="col-lg-7 col-sm-8">
                    <h3>Göz alıcı fotoğraflarımız <span>için tıklayınız.</span></h3>
                </div>
                <div class="col-lg-5 col-sm-4">
                    <a href="#" class="btn btn-success">Galeri Sayfamız</a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" data-aos="fade-up" data-aos-delay="300">
                <a href="~/more-master/images/portfolio-2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 box">
                    <img src="~/more-master/images/portfolio-2.jpg" class="img-fluid">
                    <div class="overlay">
                        <img src="images/plus-img.png" alt="plus-icon">
                        <div class="inner-text"><h4>beautiful beach <span>top view</span></h4></div>
                    </div>
                </a>
                <a href="~/more-master/images/portfolio-3.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 box">
                    <img src="~/more-master/images/portfolio-3.jpg" class="img-fluid">
                    <div class="overlay">
                        <img src="~/more-master/images/plus-img.png" alt="plus-icon">
                        <div class="inner-text"><h4>beautiful beach <span>top view</span></h4></div>
                    </div>
                </a>
                <a href="~/more-master/images/portfolio-4.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 box">
                    <img src="~/more-master/images/portfolio-4.jpg" class="img-fluid">
                    <div class="overlay">
                        <img src="~/more-master/images/plus-img.png" alt="plus-icon">
                        <div class="inner-text"><h4>beautiful beach <span>top view</span></h4></div>
                    </div>
                </a>
                <a href="~/more-master/images/portfolio-5.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 box">
                    <img src="~/more-master/images/portfolio-5.jpg" class="img-fluid">
                    <div class="overlay">
                        <img src="~/more-master/images/plus-img.png" alt="plus-icon">
                        <div class="inner-text"><h4>beautiful beach <span>top view</span></h4></div>
                    </div>
                </a>
            </div>
            <!--/row-->
        </div>
        <!--container-->
    </section>    
    <section class="section-7">
        <!-- Footer -->
        <footer class="page-footer font-small stylish-color-dark" id="iletisim">
            <div class="container text-center text-md-left">
                <!-- Grid row -->
                <div class="row">
                    <div class="col-lg-5 col-sm-12 mx-auto box-1">
                        <a href="~/"><img src="~/more-master/images/footer-logo.png" alt="footer-logo"></a>
                        <p>
                            Telefon Numaramız: +90 531 649 4745 <br />
                            Email Adresimiz: mustafacok06@hotmail.com <br />
                            İş Yeri Adresimiz: Pursaklar / ANKARA <br />
                        </p>

                    </div>
                    <!-- Grid column -->
                    <hr class="clearfix w-100 d-md-none">
                    <div class="col-lg-2 col-sm-4 box-2 mx-auto">
                        <h5>Site Navigation</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="index.html">go to home</a>
                            </li>
                            <li>
                                <a href="services.html">services</a>
                            </li>
                            <li>
                                <a href="portfolio.html">portfolio</a>
                            </li>
                            <li>
                                <a href="blog.html">read blog</a>
                            </li>
                            <li>
                                <a href="contact.html">contact us</a>
                            </li>
                            <li>
                                <a href="contact.html">product support</a>
                            </li>
                        </ul>
                    </div>

                    <hr class="clearfix w-100 d-md-none">
                    <div class="col-lg-2 col-sm-4 box-3 mx-auto">
                        <h5>information</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">user login</a>
                            </li>
                            <li>
                                <a href="#!">creat new account</a>
                            </li>
                            <li>
                                <a href="#!">checkout</a>
                            </li>
                            <li>
                                <a href="#!">my cart</a>
                            </li>
                            <li>
                                <a href="#!">other information</a>
                            </li>
                        </ul>
                    </div>

                    <hr class="clearfix w-100 d-md-none">
                    <div class="col-lg-2 col-sm-4 box-4 mx-auto">
                        <h5>policies & Info</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Terms Conditions </a>
                            </li>
                            <li>
                                <a href="#!">website polocy</a>
                            </li>
                            <li>
                                <a href="#!">Policy for Sellers </a>
                            </li>
                            <li>
                                <a href="#!">Policy for Buyers</a>
                            </li>
                            <li>
                                <a href="#!">Shipping & Refund </a>
                            </li>
                            <li>
                                <a href="#!">Wholesale Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center">
                <div class="gradient"></div>
                <p>© @DateTime.Now.Year, All Rights reserved.</p>
            </div>
        </footer>
    </section>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <script src="~/more-master/js/animate.js"></script>
    <script src="~/more-master/js/custom.js"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
</body>

</html>
